[2018-12-06 12:46] jeffreyhanson opened #3 "Add brief description of cleaning process to README.Rmd"

[2018-12-06 12:49] jeffreyhanson opened #4 "Add table with other protected area datasets to vignette"
Possible links:

US: https://consbio.org/products/projects/pad-us-cbi-edition
Arctic: http://geo.abds.is/geonetwork/srv/eng/catalog.search#/metadata/2e56ee1f-50a9-4983-88f4-edaa8588950
AUS: http://www.environment.gov.au/land/nrs/science/capad
CANADA: http://www.ccea.org/carts/

[2018-12-06 12:50] jeffreyhanson opened #5 "Coastlines"
The vignette + `wdpa_clean` documentation need to mention that the data should be clipped to coastlines and **this is not done as part of the data cleaning**.

[2018-12-07 01:37] #3 closed

[2018-12-07 01:37] #4 closed

[2018-12-07 01:37] #5 closed

[2019-01-15 02:03] FerreiraPSM opened #6 "Error in data import related to folder path"
Congratulations for the initiative.
I believe it will be of great help to my thesis
I would like to inform you that I am not able to reproduce the example available in the package manual, In the first command line "mlt_raw_pa_data <- wdpa_fetch (" Malta ", wait = TRUE)" the following warning appears:

"Error in wdpa_fetch (" Malta ", wait = TRUE):
   data not found in download_dir, and on the inte

[2019-01-15 02:08] jeffreyhanson commented on #6
Thanks! Just to double check, the code in your post has extra spaces around the name `Malta`, when you tried running the code did it include those spaces? If so, that might be causing the problem, and so you'll need to run it without the spaces. E.g. something like this should work:

[code]

[2019-01-15 02:11] jeffreyhanson commented on #6
Also, could you please try running the code below to see if R can successfully detect if you have a working internet connection:

[code]

[2019-01-15 10:33] FerreiraPSM commented on #6
I tried again by checking the spaces and had the same problem.
The problem really seems to be that my R is not identifying the internet connection because the "pingr :: is_online ()" command returned FALSE
Thank you

[2019-01-15 12:42] jeffreyhanson commented on #6
Ah - if there's an issue with pingr then I don't think there's any changes I can make to wdpar that would fix your problem - maybe you could open an issue on the pingr repository? As a work around though, you could download a zip file from protectedplanet.net that contains the WDPA data you want in shapefile format, and read it into R using `wdpa_read` (https://prioritizr.github.io/wdpar/reference

[2019-01-15 17:55] jcvdav opened #7 "Failed to connect to localhost"
Thanks for such a great contribution. This will make using WDPA much more easier. (I love `wdpa_clean()`!)

I am trying to replicate the process on the README, and am getting some errors:

[code]

Looking at the code, it seems like the problem may be in [`wdpa_url()`](https://github.com/prioritizr/wdpar/blob/master/R/wdpa_url.R)? [Line 48](https://github.com/prioritizr/wdpar/blob/master/R/wdpa_url

[2019-01-15 22:30] FerreiraPSM commented on #6
This worked perfectly, thanks a lot!

[2019-01-15 22:46] jeffreyhanson commented on #6
No worries - sorry about the issues with pingr - I'll close issue since I don't think anything more I can do.

[2019-01-15 22:46] #6 closed

[2019-01-15 22:57] jeffreyhanson commented on #7
Thank you! Could you please verify that Selenium and PhantomJS are installed (or try reinstalling them) using the [wdman package](https://cran.r-project.org/web/packages/wdman/index.html)? The [wdman vignette has more information](https://cran.r-project.org/web/packages/wdman/vignettes/basics.html), but  you might be able to do with this the following code:

[code]

Could you also please verify if

[2019-01-16 01:44] jcvdav commented on #7
Ah - Selenium and PhantomJS were NOT installed or updated. I re-installed `wdman` and then ran the suggested code.

Here's what I got.

[code]

And yes, Java is installed:

[code]

However, running `wdpa_fetch()` still returns the same error message:

[code]

[2019-01-16 02:32] jeffreyhanson commented on #7
I suppose one option might be to add the functionality to `wdpa_fetch` so you can tell it use a Docker container running Selenium/PhantomJS (instead of trying to run it on the host operating system), could you please try following this tutorial and seeing if you can use Docker with RSelenium to perform the web scraping: https://callumgwtaylor.github.io/blog/2018/02/01/using-rselenium-and-docker-to

[2019-01-16 15:56] jcvdav commented on #7
Hi @jeffreyhanson,

Thanks for looking into this. I ran the first chunk and still get some errors. This is what I got:

[code]

In case it matters, I am running on Windows 10. I will try the Docker approach now and will report bacj soon.

[2019-01-17 00:03] jcvdav commented on #7
So, tried the Docker approach following the [post](https://callumgwtaylor.github.io/blog/2018/02/01/using-rselenium-and-docker-to-webscrape-in-r-using-the-who-snake-database/), and ran into some other problems.

Docker Desktop cannot be installed on Widnows 10 Home. Apparently this is because Hyper-V was [not a thing on Windows 10 Home back in 2016](https://docs.microsoft.com/en-us/virtualization/

[2019-01-17 06:18] jeffreyhanson commented on #7
Ah ok - that's a pity - thank you very much for trying out the Docker approach and sharing your experiences.

I'm sorry, I don't have any other ideas for fixing this at the moment. Although one option would be to simply "guess" the download links because they follow a standard pattern (IIRC some combination of country name, month, and year), this approach is unsatisfying because when protectedplan

[2019-01-17 06:18] #7 closed

[2019-01-24 00:01] jeffreyhanson opened #8 "Error: Summary: ElementNotVisible"
A couple of people (and many thanks to them for bringing this to my attention) have encountered the following error message when running `wdpa_fetch`:

[code]

After some detective work, it appears this error is being thrown by the Rselenium web driver when trying to click on a button (`rd$clickElement()` in wdpa_url.R) to navigate the http://protectedplanet.net website.

[2019-01-24 00:06] jeffreyhanson commented on #8
I was able to reproduce this bug on my Windows 7 system, but not on my Ubuntu laptop. It seems that this issue can be fixed by telling R to sleep for a few seconds before trying to click the button. This is strange (to me, at least) because (i) my Windows 7 computer has faster internet access than my Ubuntu laptop (i.e. it is connected to the same network as the laptop, but using an ethernet cable

[2019-01-24 00:45] smjohnson670 commented on #8
Hi Jeff - how do you tell "R to sleep for a few seconds before trying to click the button"? Would be useful tip.

Thanks

[2019-01-24 00:58] jeffreyhanson commented on #8
Hi - I was just documenting a fix for the bug that I'll need to patch into wdpar. It's not really something that can addressed by an end user. The notes were mainly for my benefit in case this bug comes up again in later releases of Rselenium or if they change the https://protectedplanet.net website. I'm just about to release a patch on GitHub with the patch.

[2019-01-24 01:00] #8 closed

[2019-01-24 01:03] jeffreyhanson commented on #8
@smjohnson670, I've just released the new version on GitHub which fixes this problem on my computer. If you're experiencing this bug with the version on CRAN, could you please try installing the development version on GitHub ([see README for instructions](https://prioritizr.github.io/wdpar/)) and see if it works?

[2019-01-24 19:12] smjohnson670 commented on #8
@jeffreyhanson thanks. the fix is working on my end now.

[2019-01-24 22:50] jeffreyhanson commented on #8
@smjohnson670, great - thank you very much for letting me know that the fix worked for you.

[2019-01-29 03:01] ntaxus opened #9 "buffering points not working"
Hi there and congrats on this new tool!
Checking out the data resulting from applying wdpa_clean function, I find that the areas represented as points in the WDPA data base are not being converted into polygons. The example you provide in the vignette works fine, but when I try with other countries it seems to be not working. Here a picture of the protected areas in Bolivia before and after applyi

[2019-01-29 05:56] jeffreyhanson commented on #9
Thank you very much for reporting this. I'll take a look at this when I can and get back to you as soon as possible.

[2019-01-29 14:13] ntaxus commented on #9
Thanks Jeffrey! Hope you can check it out soon.
Best,
N

[2019-01-30 16:05] ntaxus commented on #9
Thanks for your reply!
Unfortunately, I have to say that I am still getting the same results (I used the code you posted here). Maybe I need to upload some package? Below the session info.

Also, I would like you to notice that there are some polygons missing after the cleaning process. In the example I posted above I shaded a polygon (WDPAID= 98183, name="Madidi") which is a National Park (not a

[2019-01-30 23:11] jeffreyhanson commented on #9
Ok that's not right. Could you please upload an Rdata file containing the output so I can compare it with what I'm getting? For instance, by running `saveRDS("bol_pa_data", "bol_pa.rds", compress = "xz")` and attaching the `bol_pa_data.rds` file to a new post?

[2019-01-31 17:56] ntaxus commented on #9
Sure!
Find attached the raw and the clean data. I put them into a zip file since I wasn't allowed to upload xz files here. Is that OK?
Thanks!

[bol_data.zip](https://github.com/prioritizr/wdpar/files/2818443/bol_data.zip)

[2019-01-31 23:04] jeffreyhanson commented on #9
Yeah that's great - thank you!

[2019-02-02 23:38] jeffreyhanson commented on #9
Sorry there was a typo in the code I told you to use to save the data, and so the zip file doesn't contain the spatial data. Could you please export the output with `saveRDS(bol_pa_data, "bol_pa.rds", compress = "xz")` and upload the file to GitHub? Sorry about this.

[2019-02-02 23:48] jeffreyhanson commented on #9
Also, when I try running the code on my computer Madidi national park remains in the cleaned data set.

[code]

[2019-02-02 23:50] jeffreyhanson commented on #9
I see that you're using R 3.4.4 - could you please try upgrading to R 3.5.2? I don't know why that would cause any problems, but if we can reduce the number of differences between our computing environments that will help me track down the problem.

[2019-02-03 00:17] jeffreyhanson commented on #9
Ok - the problem with Madidi National park is that it has two polygons in the raw data, and one of those polygons (the bigger one) is getting omitted in the cleaning process.

[2019-02-03 00:49] jeffreyhanson commented on #9
Ok, can you please try running the code below with the new version on GitHub (0.0.1.3)? Hopefully, htis fixes the problem with Madidi National park.

[code]

![bol](https://user-images.githubusercontent.com/3610005/52171037-38f04880-27a1-11e9-8309-9b171c7ca534.png)

[2019-02-05 12:10] ntaxus commented on #9
Hi Jeffrey, I've checked out the outputs for several countries and everything seems to be OK.
I'll let you know if I find any other mistake.
Thanks!
N

[2019-02-05 23:38] jeffreyhanson commented on #9
Brilliant - thank you so much for raising this issue and helping me fix it. I'll close this issue now, but please do open another issue (or reopen this one if you notice the same problem again) if you find anymore problems.

[2019-02-05 23:38] #9 closed

[2019-02-05 23:40] jeffreyhanson commented on #9
Also, I'll submit the updated version to CRAN on Feb 11th (CRAN prefers monthly updates), so this fix gets into the official version asap.

[2019-02-06 16:21] ntaxus commented on #9
Excellent! :)

[2019-02-21 10:18] ankemueller opened #10 "No internet connection with R Studio to download wdpa data?"
Dear Jeff,
I was excited to try out your wdpar package and downloaded it yesterday. When I tried to let your example run I received the following error:

mlt_raw_pa_data <- wdpa_fetch("MLT", wait = TRUE)

Error in wdpa_fetch("MLT", wait = TRUE) :
  data not found in download_dir, and no internet connectionto download it.

As far as I understood your description, WDPA data should be downloaded by y

[2019-02-21 11:30] jeffreyhanson commented on #10
Hi,

Yeah, you should be able to download the data automatically with `wdpa_fetch`. This package uses the `pingr::is_online` function to detect if you have an internet connection. Could you please try running `pingr::is_online()` to see if its working correctly?

Cheers,

Jeff

[2019-04-08 18:14] urskalbitzer opened #11 "Error: Summary: NoSuchElement"
Hi,
The package looks very interesting and tried to use it today for the first time. Unfortunately, I ran into a problem when I tried to fetch data.

After getting the error message (see below), I installed the most recent version of wdpar from github, and also updated all other packages, but I still get the same erro.

I'm running RStudio on MacOS 10.14.4.

It would be great if I could use the pa

[2019-04-08 18:27] jeffreyhanson commented on #11
Thank you very much for reporting this - it looks like protected planet has updated their website and so this package needs to be updated as well to download the protected area data. I'll see if I can sort this out over the next few days. In the meantime though, you can manually download the protected area data of your choice and import it into R using `sf::read_sf` and then use `wdpar::wdpa_clean

[2019-04-08 18:29] jeffreyhanson commented on #10
I'm closing this due to inactivity, but please feel free to open this if you want to help solve the issue.

[2019-04-08 18:38] urskalbitzer commented on #11
Thanks a lot for the quick response.
I will download the data from the web page and import it with sf::st_read.

[2019-04-09 18:10] jeffreyhanson commented on #11
@urskalbitzer, I've just pushed a new version to GitHub that fixes the problem on my computer. Could you please try installing this developmental version (see README for instructions), and try rerunning the example on your computer?

[2019-04-09 18:17] urskalbitzer commented on #11
@jeffreyhanson, thanks for this very quick fix. I've just tried it with the new version from GitHub and it works perfectly.

[2019-04-09 18:18] jeffreyhanson commented on #11
Awesome - thank you very much! I'll bump the version and send it to CRAN.

[2019-04-09 18:18] #11 closed

[2019-06-03 08:36] carbonmetrics opened #12 "How to get and clean a global PA list?"
First, thank you for making this package available.

I am trying to download and clean a global PA data set.
Following the `fetch_wdpa` documentation I arrive at 22 M km2 terrestrial PA, whereas I expected (through the protectedplanet summaries) to get 20.2 M km2. I think this is because I cleaned data and have not solved overlaps through a `sf` operation yet.

I have not been able to do this beca

[2019-06-04 16:34] jeffreyhanson commented on #12
Hi,

Yeah, the raw WDPA data needs to be cleaned before you can obtain accurate protected area coverage statistics. Yeah, there's a lot of spatial overlaps in the WDPA dataset, so if you haven't erased the overlaps then the coverage statistics will be much higher than those reported on ProtectedPlanet.

Unfortunately, the `wdpa_clean` function just can't handle the global dataset. You could try lo

[2019-06-27 01:40] neriiacopo commented on #10
Hi Jeff,
I am experiencing the same issue as Anke.
While running wdpa_fetch() on a window machine I get the same error.
As you suggested, I tried pingr::is_online() where I look incorrectly without an internet connection.
The https://cran.r-project.org is inaccessible at the moment (I guess they are having server issues).
I am wondering if this is the reason behind the error and if there is a way

[2019-06-28 09:52] jeffreyhanson commented on #12
I'm going to close this issue because due to lack of activity. Please feel free to reopen it if you would like to discuss this more.

[2019-06-28 09:52] #12 closed

[2019-06-28 09:54] jeffreyhanson commented on #10
Hi, I don't think this is related to the CRAN issues. I haven an idea for fixing this though, so I'll push a new version to GitHub later today and we can see if this fixes the problem.

[2019-06-28 10:03] jeffreyhanson commented on #10
Actually, if `curl::has_internet` works - we can just use that instead of `pingr::is_online`. Thank you for trying out other options!

[2019-06-28 10:57] jeffreyhanson commented on #10
@neriiacopo, could you please try installing the developmental version of wdpar on GitHub (e.g. using the R code `devtools::install_github("prioritizr/wdpar")`) and try running the example code for `wdpa_fetch` (see  https://prioritizr.github.io/wdpar/reference/wdpa_fetch.html) to see if it works for you?

[2019-06-28 13:23] neriiacopo commented on #10
The examples work smoothly now!
Thank you so much!

[2019-06-28 14:09] ankemueller commented on #10
Does also work now for me, thanks a lot!

[2019-06-28 14:34] jeffreyhanson commented on #10
Awesome - glad to hear it's working. I'll submit the new version to CRAN.

[2019-07-19 22:05] GatesDupont opened #13 "Cleaning Brazil areas issue"
I'm trying to download and clean the wdpa data for Brazil, and have run into an error.

I start by downloading the data, which works, but I get an error just about halfway through cleaning it.
[code]
Here's the result, note the error on the bottom:
[code]

I get a similar issue with Mexico, as well.

Any help with this would be greatly appreciated!

Thanks!

[2019-08-07 12:56] jeffreyhanson commented on #13
Hi,

I'm very sorry for the slow response. I've been on vacation and then attending a conference, so I haven't had a chance to respond to you earlier. It looks like the wdpar is having problems with the geometry of the data. Broadly speaking, R's ability to clean invalid geometry is generally pretty good (and by this I specifically mean the lwgeom package), but it can fail to clean really invalid

[2019-08-22 16:08] stanleesocca opened #14 "Undefined error in wdpa_fetch()"
Hi,

Thanks for the awesome package. I was trying to use the package to download MPA data from France but on running wdpa_fetch() I was greeted with an error. Can you help with that.

[code]
Error shown:
Error in checkError(res) :
  Undefined error in httr call. httr output: Failed to connect to localhost port 4567: Connection refused

Can you explain how I can solve this issue.

[2019-08-22 16:19] jeffreyhanson commented on #14
Hey, I'm sorry I don't know of any immediate fixes off the top of my head. The code for downloading the data uses a virtual web browser to download the code and sometimes it can fail to correctly shut down the web browser when it finishes, which causes problems when you try and download more data. Could you please try restarting your computer and trying the code again (this will terminate the virt

[2019-08-23 10:44] stanleesocca commented on #14
Thanks for the reply. I tried the first option of restarting my computer but it didn't work. The traceback() result:

[code]

Hope this will help with the bug.

[2019-08-23 13:14] jeffreyhanson commented on #14
Thanks! Yeah, it looks like something strange is happening with the virtual web browser (Phantom JS). This could be due firewall stuff - I don't know sorry. In terms of getting a working solution on your system, you could try something like the code below where we hard-code the download URL:

[code]

The problem with this approach is that about once a month, ProtectedPlanet will update the protect

[2019-08-23 16:23] stanleesocca commented on #14
Cool. It works fine. Thanks for the help. Hopefully you get to fit the virtual browser issue and wdpa_fetch() pipeline as I imagine with such way means less code.

Thanks once again. Hopefully, one day I will understand all these stuff well enough to solve some of them.

[2019-08-23 17:03] jeffreyhanson commented on #14
No worries - glad I could help.

[2019-08-23 17:03] #14 closed

[2019-09-23 11:19] JocelyneSze opened #15 "Error in downloading global wdpa data"
Hi, I'm not sure if this error should be reported here or to the folks at WDPA(?), but when I've tried downloading the global data using wdpa_fetch('global'), I get the following error:
Error in utils::unzip(x, exdir = tdir) : cannot open file '/var/folders/j0/s0q31lh965q7dmf_cpt7bg040000gn/T//RtmpeGEG0F/file2f86347d96e/WDPA_Sep2019_Public/Recursos_en_Espanol/Ap�ndice 5_Metadatos.pdf': Illegal byt

[2019-11-03 13:34] florafinder commented on #15
I am having the exact same issue/error message, hopefully there is a workaround!

[2019-11-04 01:15] jeffreyhanson commented on #15
Thanks for reporting this issue @JocelyneSze and @florafinder. Also, @JocelyneSze, I'm sorry I didn't respond to you earlier. I thought I did but it clearly slipped my mind.

I don't really know what could be causing this. I haven't encountered this on my computer. I suppose the issue could be due to one (or more) of the following reasons/guesses: (1) there is something wrong with the file on the

[2019-11-05 16:05] ricschuster opened #16 "wdpa_clean error"
Thanks for this awesome package Jeff!

Downloading the global dataset works fine.
[code]

When I run the following with a crs setting of `proj4string(base_raster)` =
_"+proj=eck4 +lon_0=0 +x_0=0 +y_0=0 +ellps=WGS84 +units=m +no_defs"_

[code]
I'm getting this error message:

[code]

I will rerun without setting crs now, but wanted to bring this to your attention.
Thanks,
Richard

[2019-11-05 19:17] jeffreyhanson commented on #16
Hi,

I haven't seen that error message before. In general, I wouldn't really recommend trying to clean the global dataset with this package as none of the functions are parallel and can take a long time to run with such a large dataset. I would generally recommend trying out https://github.com/jeffreyhanson/global-protected-areas instead which uses ESRI ArcMap.

That being said, if you plan on ras

[2019-11-05 22:18] ricschuster commented on #16
Thanks very much Jeff!
Will check out the global-protected-areas repo for sure.

[2020-01-13 19:50] antoinestevens commented on #13
Hello,
I ran into the same problem (see also  #16 ) and solved it by changing in `st_erase_overlaps` this line:
[code]
to
[code]

[2020-01-13 21:23] jeffreyhanson commented on #13
Awesome work @antoinestevens! Thank you so much for coming up with a fix! I'll patch that into the dev version of the wdpar package now.

[2020-01-13 21:30] antoinestevens commented on #13
Actually, it essentially fixed #16 but not this issue.
Modifying 2 lines below (don't ask me why) with `st_make_valid` will finally fix all my problems
  `d <- sf::st_difference(sf::st_set_precision(g[i],precision), lwgeom::st_make_valid(sf::st_set_precision(u, precision)))`

[2020-01-13 21:30] antoinestevens commented on #13
Thank YOU for your awesome work (inc. your other super useful packages)

[2020-01-13 21:36] jeffreyhanson commented on #13
Ok brilliant - I'll patch that fix in as well - thanks again!

[2020-01-13 21:37] jeffreyhanson commented on #13
Thank you - I really appreciate it.

[2020-01-13 22:16] #16 closed

[2020-01-16 12:52] JocelyneSze commented on #15
Hi, sorry I left the issue hanging but the problem seems to have resolved anyway, I've just used wdpa_fetch with no further problems.

[2020-01-16 13:00] JocelyneSze opened #17 "wdpa_clean error"
Hi, I've just tried using wdpa_clean, it managed to remove areas that are not implemented, remove UNESCO reserves and remove points with no reported area, but then throws this error:
Error: package ‘lwgeom’ does not have a namespace

[2020-01-16 16:21] JocelyneSze commented on #17
Hi again, it seems that downloading the 'lwgeom' package into RStudio first then running the function resolves this issue.

[2020-01-16 16:21] #17 closed

[2020-01-24 02:25] jeffreyhanson commented on #13
I forgot to tag this issue in the latest commit, so I'll close this manually now.

[2020-01-24 02:25] #13 closed

[2020-01-24 02:26] jeffreyhanson commented on #15
Ok - great! Thank you very much for letting me know that it's working now.

[2020-01-24 02:26] #15 closed

[2020-02-08 08:33] JonasGeschke opened #18 "Thanks for the package!"
Hi, thank you very much for the package, very exciting!
I am indeed trying to dissolve the whole WDPA into a "flat layer of global protected areas" (terrestrial and coastal only, but thats not a problem).

I didnt get to install wdpar yet, due to some dependencie issues. I will try again on monday. Until then: Is it possible with your package to dissolve (get rid of overlapping areas) the whole da

[2020-02-08 09:09] jeffreyhanson commented on #18
Hi,

My pleasure - thanks for looking into it and reaching out!

Yeah there were some dependency issues with wdpar this last week with the wdman and RSelenium packages being archived on CRAN, but now both of those are back on CRAN so hopefully it all works now. Please let me know if you run into any more installation issues?

No, this package isn't really going to work with the full WDPA. If you r

[2020-02-10 11:04] JonasGeschke commented on #18
Hi, thanks for the quick response and your Arcmap resource!
I got wdpar installed now, no further problems coming up. I will test the dissolving/ erasing overlaps with a couple of countries and get back to you how it works as a loop with the global database.

Best greetings,
Jonas

[2020-02-11 10:30] JonasGeschke commented on #18
So far it doesnt work at all, as I have an error coming up the CRS would be different throughout the loop. Which actually doesnt make sense to me, as all subsets come from the same WDPA object. However ...

Dealing with the WDPA in R seems to be sort of a bigger issue, so once again thanks for the package! In case you are interested in my contribution, feel free to drop me an email @ jonas.geschke

[2020-02-11 10:30] #18 closed

[2020-02-18 11:18] JonasGeschke opened #19 "class error in wdpa_clean"
After trying around with the `sp` package for quite a bit, I will now try to flatten the WDPA with `wdpar`. The first error I came across, however, is as follows:

It came in the WDPA subset for "SOM" (Somalia). Would be great if you can have a look at it.
Thanks and best regards,
Jonas

[2020-02-18 11:18] JonasGeschke commented on #19
PS: Are you around at the sri2020.org conference? Would be great meeting you.

[2020-02-18 12:01] JonasGeschke opened #20 "typology evaluation errors in wdpa_clean"
in addition to #19, I came across the following error in the "DNK" (Denmark) subset:

  Evaluation error: TopologyException: side location conflict at 1029038.938 6096087.5300000003.

[2020-02-18 12:14] JonasGeschke commented on #20
same in the "GRC" (Greece) subset:

  Evaluation error: TopologyException: side location conflict at 2004406 4598038.

[2020-02-18 12:15] JonasGeschke commented on #20
(just noting it here to have a collection where errors pop up. the more often they appear, the more general the problem probably is ...)

[2020-02-18 12:20] JonasGeschke commented on #20
same in the "BGR" (Bulgaria) subset:

  Evaluation error: TopologyException: side location conflict at 2624909 4999187.7525391364.

[2020-02-18 12:29] JonasGeschke commented on #20
same **but different** in the "AUT" (Austria) subset:

  Evaluation error: TopologyException: no outgoing dirEdge found at 1243901 5365689.0999999996.

[2020-02-18 12:35] JonasGeschke commented on #20
just see similar errors are dealt with in #13. are the code fixes already on CRAN?

[2020-02-18 12:52] JonasGeschke commented on #20
error in "BEL" Belgium subset:

  Evaluation error: TopologyException: side location conflict at 427241 5675070.

[2020-02-18 13:31] JonasGeschke commented on #20
error in "BRA" Brazil subset:

  Evaluation error: TopologyException: side location conflict at -4449272 -152694.

[2020-02-18 20:20] jeffreyhanson commented on #20
Thanks for reporting this - I'll take a look and see what I can do. In the meantime, if you're planning on dissolving all the polygons together or rasterizing the polygons then you can skip this "erasing overlaps" step `erase_overlaps = TRUE`.

[2020-02-18 20:31] jeffreyhanson commented on #19
Hmm - that's strange. Could you please post a reproducible example showing this? Are you using `as(x, "sf")` to convert the `sp` class objects to `sf` class objects before using `wdpa_clean`?

No, I'm not attending that conference unfortunately - it looks pretty interesting! Yeah - it would be great to catch up. I'm based in Palmerston North in New Zealand - I don't suppose you're travelling to Ne

[2020-02-19 09:32] JonasGeschke commented on #19
Well no I didnt convert the WDPA from `sp` to `sf`, I read the WDPA with `wdpar`:

wdpa <- wdpa[-which(wdpa$MARINE == "2"),]
wdpa <- wdpa[-which(wdpa$ISO3 == "ABNJ"),]
wdpa_som <- wdpa[which(wdpa$ISO3 == "SOM"),]
wdpa_som <- wdpa_clean(wdpa_som)

<img width="487" alt="Bildschirmfoto 2020-02-19 um 10 30 41" src="https://user-images.githubusercontent.com/14090764/74820811-eed1fa80-5302-11ea-82a7-dce

[2020-02-19 09:33] JonasGeschke commented on #20
Thanks for checking it. Probably the errors are done with the fix in #13, I didnt check this.

[2020-02-19 09:35] JonasGeschke opened #21 "wdpa_clean doesnt work offline"
Hi, another issue I came across while working on the train: `wdpa_clean` doesnt work offline:

I guess this is due to the `wdpa_url` and `wdpa_fetch` functions that need internet connection, but `wdpa_clean` shouldnt need to, right?

[2020-02-19 09:50] JonasGeschke commented on #20
another error in "ITA" (Italy):

  Evaluation error: TopologyException: side location conflict at 1025649 5066855.

[2020-02-19 12:34] JonasGeschke commented on #20
another error in "ESP" (Spain):

  Evaluation error: TopologyException: Input geom 0 is invalid: Self-intersection at or near point -517842 4727376.2839926593 at -517842 4727376.2839926593.

[2020-02-19 20:08] JonasGeschke commented on #20
another error in "GBR" (United Kingdom):

  Evaluation error: TopologyException: side location conflict at -307405 6250924.

[2020-02-21 09:41] JonasGeschke commented on #19
update: I now tried to clean SOM with the development version of `wdpar` – it worked. so in case you dont want to follow up on the origin of the error, you may close the issue.

[2020-02-21 09:41] JonasGeschke commented on #19
its your go to close it ;-)

[2020-02-21 09:46] JonasGeschke commented on #20
I now re-run cleaning with the development version of `wdpar`. I mark all errors that are resolved with a _thumb-up_ ...

[2020-02-21 10:35] JonasGeschke opened #22 "request for "wdpar_merge()""
Hi @jeffreyhanson, while I am about to finish cleaning all WDPA country subsets, I tried putting them all together, in order to finally get a "flattened WDPA layer". However, both with `st_combine` or `st_union` and with `rbind` and a second `wdpa_clean` it seems not to be working properly. I always get some areas overlapping and thus double counting in any area calculations.
Therefore, as you kno

[2020-02-21 11:30] JonasGeschke commented on #20
As a simple feedback question to this point: Sounds like you wouldn't use `wdpa_clean` for dissolving the WDPA. How would you do it?

[2020-02-21 12:24] JonasGeschke commented on #20
For now, with use of the development version of `wdpar`, only GRC keeps to result in the error:

  Evaluation error: TopologyException: side location conflict at 2624909 4999187.7525391364.

// Germany and US subset still to be done ...

[2020-02-21 20:38] JonasGeschke commented on #20
error in "DEU" (Germany":

  Evaluation error: TopologyException: side location conflict at 1273919.4773302849 5975333.6278681727.

[2020-02-22 07:40] JonasGeschke commented on #20
also in "USA":

  Evaluation error: TopologyException: side location conflict at -11068713 4016836.

[2020-02-23 20:38] jeffreyhanson commented on #20
Hmm, you might need to increase the precision of the geometry calculations for these datasets. Try increasing the `geometry_precision` argument to `1e+6` or `1e+8` in `wdpa_clean`. This makes the geoprocesssing more robust/correct, but increases run time, so finding the right balance can be tricky.

[2020-02-23 20:40] jeffreyhanson commented on #19
Great - glad to hear it's working. I'll close this issue now then. In the future, if you feel that you've solved an issue that you've opened, please feel free to close it yourself :)

[2020-02-23 20:48] jeffreyhanson commented on #22
Hi, yeah sometimes `st_union` can output overlapping polygons depending on the precision of the
 geoprocessing calculations. Maybe something like this would work (assuming you called your rbind'd WDPA dataset `w`)? If it doesn't, try increasing the `prec` object.

[code]

[2020-02-23 20:49] jeffreyhanson commented on #21
Yeah, `wdpa_clean` shouldn't need an internet connection. Thanks for raising this issue - I'll try and fix this sometime this week.

[2020-02-24 14:20] JonasGeschke commented on #19
Strange... with a changed precision, the error comes up again. Would be great if you could have a look at it.

[2020-02-29 09:17] #21 closed

[2020-02-29 09:18] jeffreyhanson commented on #21
I've just pushed a fix addressing this issue - thanks again for raising it.

[2020-02-29 09:20] jeffreyhanson commented on #20
I've just posted a patch which should make the overlap erasing procedure in `wdpa_clean` more robust, so hopefully this fixes the issues you're experiencing. Could you please try with the latest version?

[2020-02-29 09:22] jeffreyhanson commented on #22
Just to follow up, did my suggestion work? Or are you still experiencing issues with dissolving the WDPA? If possible, I'd recommend using ESRI ArcMap to process the global WDPA since it's more robust to geometry issues and runs a lot faster.

[2020-03-01 18:00] JonasGeschke commented on #20
Great, thanks, I will let you know how it works out.

[2020-03-01 18:01] JonasGeschke commented on #22
Hi, thanks for your follow-up. I am still on it ...

[2020-03-01 18:01] JonasGeschke commented on #19
So this class error still is the bottleneck in my progress...

[2020-03-01 23:40] jeffreyhanson commented on #22
OK - let me know how it goes. You might need to try various precision levels. I would also recommend dissolving each country together separately and then assembling the global dataset. However, this is still going to be a very difficult (if impossible) task given the limits of FOSS GIS software.

[2020-03-02 09:47] JonasGeschke commented on #22
Actually #19 is my bottleneck at the moment. It keeps coming up. Would be great if you can have a look at this.

[2020-03-02 20:50] jeffreyhanson commented on #19
Per #22, could you please post a complete reproducible example showing the issue you're experiencing?

[2020-03-20 10:12] JonasGeschke commented on #19
Hi – sorry for not replying yet. You can find the reproducible example above. However, it does not pop up always, I have no clue why. Did you change anything in the development version that could have lead to fixing the class error?

[2020-03-20 10:14] JonasGeschke commented on #22
I am working on a HPC cluster now, so processing capacity is no bottleneck anymore. It seems to be working with simply using `wdpaunion <- st_union(st_make_valid(wdpaclean))`. Will let you know if succeeding when the whole dataset is done – and then also close the issue if successful.

[2020-03-20 10:15] JonasGeschke commented on #20
Working with the development version of `wdpar`, there are currently no typology evaluation errors anymore (even without changing the precision).

[2020-03-20 10:15] #20 closed

[2020-03-27 09:38] JonasGeschke commented on #19
Congrats to your [paper](https://www.nature.com/articles/s41586-020-2138-7), very nice reading!

In regard of my work on the WPDA, using `wdpar`: I am in still in progress cleaning and unioning all countries individually and plan to union them together afterwards.
During the computing, the class error came up again – using the development version of the package. Would be great if you find some tim

[2020-03-27 22:58] jeffreyhanson commented on #19
Thanks! It looks like the issue with Somalia is that all the protected areas are points and they have a REP_AREA of zero - meaning that there are no "spatially valid non-empty" geometries for this country. I'll add in a patch to return an empty result (i.e. sf object with zero rows) for such cases.

[2020-03-28 00:02] #19 closed

[2020-03-28 00:03] jeffreyhanson commented on #19
Ok - I've just pushed a new version that works for Somalia. Thanks for the reminder!

[2020-03-31 14:25] IsaakBM opened #23 "wdpa_fetch error"
Hi @jeffreyhanson

I'm just starting to play with this package and I'm getting this error

`Error: x must be a vector, not a sfc_MULTIPOINT/sfc object`

Not really sure what I'm doing wrong, I just copied the example ` mlt_raw_pa_data <- wdpa_fetch("Malta", wait = TRUE)`

Do you have any hint of what this is about?

Thanks in advance!
Isaac

[2020-03-31 20:56] jeffreyhanson commented on #23
Hi,

Thanks for checking our wdpar! I'm sorry, I can't seem to replicate the issue on my computer, could you please post your session information (i.e. `sessionInfo()`)? If you haven't already, could you try  installing the developmental version on GitHub?

Cheers,

Jeff

[2020-03-31 23:11] jeffreyhanson commented on #23
Hmm, it looks like the version of sf you have installed is a bit old - could you please try updating it to the latest CRAN version?

[2020-03-31 23:21] IsaakBM commented on #23
Yep, that was the problem. Just an FYI, I had to install the dev version of sf to avoid the issue. It's working now. Thanks @jeffreyhanson

[2020-03-31 23:29] jeffreyhanson commented on #23
Awesome - glad its working now! I'll close this issue now that it's resolved, and please feel free to open another issue if you encounter any more problems.

[2020-03-31 23:29] #23 closed

[2020-04-10 10:49] edzer opened #24 "st_make_valid no longer exported by lwgeom, but by sf"
Please update your package and resubmit to CRAN, to avoid CRAN errors on your package.
[code]

[2020-04-10 22:35] jeffreyhanson commented on #24
Thanks so much for the heads up @edzer! I'll submit this fix ASAP.

[2020-04-10 23:31] #24 closed

[2020-04-20 08:22] carbonmetrics opened #25 "lwgeom::st_make_valid --> not exported object from namespace lwgeom"
The `wdpa_clean` function calls `lwgeom::st_make_valid` in a few places. This causes an error, because the `lwgeom` package does not have that function.
I have replaced the calls with `sf::st_make_valid`, but that still returns an error after the function runs.

[2020-04-20 08:45] jeffreyhanson commented on #25
Thanks for looking into this. Just to double check, are you using the new version wdpar (1.0.2)? It should have fixed these issue, but I could have missed something?

[2020-04-20 09:10] carbonmetrics commented on #25
Thanks for the quick reaction. I am using 1.0.2. - just installed from GitHub and upgraded all required/suggested packages. Same message.

[2020-04-20 09:51] jeffreyhanson commented on #25
Hmm, I'm having trouble reproducing this error. Could you please run the following code and post the output?

[code]

Also, could you please print your installed version of the lwgeom package?

[2020-04-20 10:36] carbonmetrics commented on #25
It also works for me now! The error was copied/pasted from a vanilla R session after installation / updating ...don't ask. Thanks for your help!

[2020-04-20 18:55] jeffreyhanson commented on #25
Ah ok - glad it's working now. I'll close this issue then, but please reopen it if you run into this problem again.

[2020-04-20 18:55] #25 closed

[2020-05-03 06:33] fguilhaumon opened #26 "wdpa_clean.R"
Hello,

working with wdpa_clean.R. Regarding the following step:

`## return empty dataset if no valid non-empty geometries remain`

I'm wondering if line 311:

`if (all(sf::st_is_empty(x))) {`

should be:

`if (any(sf::st_is_empty(x))) {`

so that the error exists if any geometry is empty. As for now it seems that all geometries need to be empty. Am I missing something ?

Cheers.

[2020-05-03 22:58] jeffreyhanson commented on #26
Hi,

Thanks for checking out the wdpar package. No, I think line 311 is correct (maybe the comment above it is a bit confusing). It's perfectly valid for `sf` objects to have empty geometries (indeed functions like `st_buffer` should still work), so an empty geometry is not an necceasrily an error. The reason why this code (line 311) checks for empty geometries is that some of the cleaning code la

[2020-05-04 10:56] fguilhaumon commented on #26
Thanks for the follow up. Yes totally makes sense. The problem was on the side of my understanding of the scope of the functions.

[2020-05-04 10:56] #26 closed

[2020-10-07 02:30] jeffreyhanson opened #28 "Add example to wdpa_fetch for multiple countries"

[2020-10-07 02:30] jeffreyhanson opened #29 "Add info on port error to wdpa_fetch documentation"

[2020-10-07 02:53] jeffreyhanson opened #30 "protectedplanet.net has updated and broken the package"
The protectedplanet.net website has updated and this means that the package no longer works. I need to update the web-scraping code in the package to be compatible with the new website.

[2020-10-08 03:27] #28 closed

[2020-10-08 03:27] #29 closed

[2020-10-08 03:27] #30 closed

[2020-12-09 11:13] Louis-Backstrom opened #31 "Error when retrieving global WDPA dataset"
when running the latest dev version of the package, I get an error when trying to download the whole WDPA using the following code:

`wdpa_global <- wdpa_fetch("global",
                          wait = TRUE,
                          download_dir = "~/Science/Data/GIS/WDPA - World",
                          force_download = TRUE,
                          verbose = TRUE)`

Cannot open layer WDPA

[2020-12-09 21:08] jeffreyhanson commented on #31
Hey @Louis-Backstrom, thank you very much for reporting this! I'll have a look later today and see if I can work out what's going wrong.

[2020-12-13 03:48] jeffreyhanson commented on #31
Sorry for the delay @Louis-Backstrom, can you please try the GitHub version of wdpar now? It should work with the new version of the WPDA data.

[2020-12-16 03:53] Louis-Backstrom commented on #31
All fixed by the looks of it - thanks @jeffreyhanson

[2020-12-16 03:53] #31 closed

[2020-12-16 04:04] jeffreyhanson commented on #31
Awesome - great to hear - thanks!

[2021-03-12 11:06] Jo-Schie opened #32 "Request to download individual PAs"
Hi. Thanks for this helpful package. I'd like to know if there ist the possibility to download individual Protected Areas given the WDPA id or if this query could by implemented. We work with a list of PAs from different countries and downloading all data is lengthy and sometimes unnecessary, especially in automated tasks. Would be nice to hear back from you.

[2021-03-12 20:27] jeffreyhanson commented on #32
Thanks for reaching out! Yeah I completely understand that downloading the entire WDPA isn't really helpful/useful for those sorts of tasks. Although this package isn't designed for downloading individual PAs, there do seem to be some other R packages designed specifically for this task (see https://github.com/ljvillanueva/rWDPA, https://github.com/Rekyt/rwdpa). Have you tried those out? Maybe you

[2021-03-15 10:49] Jo-Schie commented on #32
Hi jeffrey. The two packages you mentioned are outdated or not maintained. Anyways, my code still does what it should do, with a bit of latency, so it is fine I guess. I will, however, if you do not mind request another feature in a new issue.

[2021-03-15 10:49] #32 closed

[2021-03-15 10:53] Jo-Schie opened #33 "Feature Request: Add functionality to keep UNESCO sites and not yet implemented areas"
Hi @jeffreyhanson . I understand the logic for excluding the UNESCO sites and not yet implemented areas from a country reporting perspective. However, for the assessment of protected areas for e.g. planning purposes, it would be still nice to keep them. Could you provide a `TRUE/FALSE` parameter to keep these areas if the user wishes (similar to what is also possible with keeping the overlapping p

[2021-03-16 04:32] jeffreyhanson commented on #33
Hi @Jo-Schie, yeah, that's pretty straight forward. I'll push a new version to GitHub in a few minutes with a new `exclude_unesco` parameter that lets you do this. Can you give it a spin and see if it does what you want?

[2021-03-17 09:38] Jo-Schie commented on #33
Hi @jeffreyhanson . Works very well for me with the command to keep `UNESCO` sites. One small question though. In the comment above I also asked for an option to keep the not currently implemented areas as well. In your package description function `wdpa_clean` you state that:

`2. Exclude protected areas that are not currently implemented (i.e. exclude areas without the status "Designated", "Insc

[2021-03-17 21:28] jeffreyhanson commented on #33
Hi @Jo-Schie,

Thanks for confirming that the `exclude_unesco` works. I'm sorry, I was in a hurry and missed your comment about the statuses. The protected areas with a "Proposed" status should definitely be excluded under the current version of wdpar. I'm having trouble reproducing this bug on my computer though. Could you please try running the code below?

[code]

If I'm not mistaken, I think t

[2021-03-18 14:17] Jo-Schie commented on #33
Dear @jeffreyhanson . You are right. My code had a typo at the end. Sorry for the confusion. Your suggestion sounds great.

I would call it maybe something like 'status' with different options like 'All', 'Implemented', 'Proposed' etc. and People may choose to their likening and provide either one or several categories as a string...

[2021-03-19 02:23] jeffreyhanson commented on #33
Ok great - no worries! I've pushed a new version to GitHub with a `retain_status` parameter to specify which statuses you want to retain during the cleaning process. You can either (1) specify exactly which statuses you want to keep, or (2) specify a `NULL` value such that no protected areas are excluded based on their status. Could you please give it a try and see if it does what you want?

[2021-03-25 00:00] jeffreyhanson commented on #33
@Jo-Schie, just to follow up, did that work for you?

[2021-03-30 19:54] Jo-Schie commented on #33
Hi @jeffreyhanson. Currently I get a Topollgy exepton error for processing Brazil.

[code]

gives

[code]

[2021-03-30 19:55] Jo-Schie commented on #33
I'm still in search for a country where I have other proposed PAs. So far I only found Brazil as a case but I will keep on digging.

[2021-03-30 22:44] jeffreyhanson commented on #33
Thanks for raising this issue with the topology error. I'll take a look at this now.

[2021-03-31 03:29] jeffreyhanson commented on #33
It looks like Brazil has a lot of protected areas and some very complex geometries. May I ask what you intend to do with the data? Depending on what you plan to do next, you might be able to skip the erase overlaps part of the processing? For example, if you want to calculate protected area coverage, then you could just dissolve (or rasterize) the polygons in one step (and this would take care of

[2021-04-02 01:29] jeffreyhanson commented on #33
@Jo-Schie, after playing around with some o the parameters for `wdpa_clean`, I was able to successfully clean the Brazil dataset (including the procedure to erase overlaps) by increasing the precision of the spatial data processing. Specifically, I used this code:

[code]

Note that using this precision (much, much higher than the default) will increase processing time. Although this level of prec

[2021-04-05 14:08] Jo-Schie commented on #33
Hi @jeffreyhanson. Nice! Thank you for that clarification. I agree that Brazilian polygons are a bit messy. Anyways I would need to play around a bit with these parameters at some point because I'm not  sure yet how the resulting polygons look like and if and how the simplification parameters affect spatial precision. I'm using the WDPA database to analyze my companies financial support for PAs in

[2021-04-05 14:09] Jo-Schie commented on #33
should I close this issue? Seems solved to me.

[2021-04-05 21:39] jeffreyhanson commented on #33
Ok excellent! Yeah that's a great idea. Depending on what precision you need, you might be able to increase the simplification parameters to speed things up. Awesome - that sounds really interesting! Yeah, I'm always happy to chat about protected areas and conservation planning stuff. Could you please send me an email (listed on my GitHub profile page) and we can find a time that works?

[2021-04-05 21:39] #33 closed

[2021-04-05 21:40] jeffreyhanson commented on #33
Also, yeah, I've just closed the issue. For future reference, please feel free to close any issues that you open if you think they have been addressed.

[2021-07-28 16:50] jmemb opened #34 "HTTP error 404 in "global" query with wdpa_fetch"
Hi @jeffreyhanson! Thanks a lot for the useful package and for taking the time to address all of the open issues. I have gone through all of them and I haven't found the error I am getting, so here I go:
When trying to retrieve the whole dataset through: _global_data <- wdpa_fetch("global",wait = FALSE)_ I get the following error:
 **Downloaded 303 bytes...Error in curl::curl_download(download_url

[2021-07-29 00:06] jeffreyhanson commented on #34
Hi @jmemb - thank you very much for raising this issue! I was able to reproduce this error using the CRAN version of wdpar, but it seems to work using the developmental version on GitHub. Could you please try installing the GitHub version and see if it works? To install the GitHub version, please the following R code:

[code]

[2021-07-29 10:39] jmemb commented on #34
It worked! Thank you very much @jeffreyhanson!

[2021-07-29 10:39] #34 closed

[2021-07-29 18:59] jeffreyhanson commented on #34
Awesome - thanks for letting me know. I'll try and release the GitHub version onto CRAN sometime in the next week so that other people don't encounter this error.

[2021-09-13 06:21] jeffreyhanson opened #35 "Fails to download country-level data"
The `wdpa_fetch()` function for downloading country data currently doesn't work due to changes on the Protected Planet website. For example, running the following code throws the following error:

[code]

[2021-09-13 06:37] #35 closed

[2021-09-13 06:38] jeffreyhanson commented on #35
I've just pushed a new version to GitHub that fixes this issue, but it will be a while before I can submit the updated version to CRAN. This is because I recently submitted an updated version to CRAN, and it would violate CRAN policies to submit another update so soon. I'm sorry for the inconvenience.

If you are seeing the error message above, please try installing the GitHub version of the packa

[2021-10-18 01:34] jeffreyhanson opened #36 "Fails package checks under noSuggests config"
See https://cran.r-project.org/web/checks/check_issue_kinds.html

[2021-10-18 04:45] #36 closed

[2021-10-27 04:45] PhDyellow opened #39 "Poor internet connection breaks wdpa_fetch"
I am using version 1.3.1.3.

When I called `aus_mpa <- wdpa_fetch("Australia", wait = TRUE)`, I got the following error:
[code]

I am aware of #35, so I made sure to use a recent github version of `wdpar`. The issue went away when I switched to a faster, non-mobile, connection.

Reading around, it seems like PhantomJS doesn't have a good way to know if the page has loaded yet, would it make sense

[2021-10-30 03:31] PhDyellow commented on #39
I suggest `page_wait`: not too long, and starting with page gives some contrast to the `wait` parameter.

In the end though, I think any of the ideas so far are fine. Thanks for putting together the fix quickly!

[2021-10-30 08:22] jeffreyhanson commented on #39
Ok - sounds good! I'll try and get that merged into the main branch tonight.

[2021-10-31 06:43] #39 closed

[2021-10-31 06:51] jeffreyhanson commented on #39
I've just merged the PR - so if you install from the main branch, there's the new `page_wait` parameter to control sleep times. Let me know if you run into any issues with it?

[2021-12-05 23:37] jeffreyhanson commented on #35
The version of wdpar on CRAN has been updated, so this issue is now resolved.

[2022-02-07 15:42] RussellGrayxd opened #41 "Port error"
Hi,

While running a loop to download PAs for multiple countries the code fails with a port-in-us error:

**Reprex:**
library(wdpar)
# make a list of countries
countries <- c("Vietnam","Malaysia","Laos")

# loop over countries to get all shapefile data
for(i in countries){
  mlt_raw_pa_data <- ?wdpa_fetch(
    i, wait = TRUE, download_dir = getwd())
}

After the first file downloads, the function

[2022-02-07 19:41] jeffreyhanson commented on #41
Hi,

Thank you very much for raising this issue and providing all these details! I'm sorry that it's not working for you. Just to check, I noticed that there was a `?` before `wdpa_fetch()`. Did you encounter the error when running code that did not contain the `?`?. E.g., something like this:

[code]

If you encounter the error in the first iteration of the loop, you might need to restart your co

[2022-02-07 22:07] RussellGrayxd commented on #41
Hey sorry I had copied and pasted the code after checking the function doc if I could manually set the port. The same error occurs when the ? is removed. 
I have tried on my other laptop with the newest version of R and there was no difference, same error occurred. I tried restarting both laptops and rerunning to no avail.
Is it possible to add an argument to set a random port? That seemed to been

[2022-02-07 23:03] jeffreyhanson commented on #41
Ah ok - thanks for clarifying that! Ok - I'll create a branch in a moment to implement the random ports idea for testing. Note that this doesn't entirely fix the issue though. Since the error is caused by the R code failing to kill Selenium processes once it's finished with them, this means that running the code in a loop will result in lots of zombie processes and, in turn, mean that they could c

[2022-02-07 23:07] jeffreyhanson commented on #41
Another option could involve manually killing the Selenium processes each step in the loop. For example, something like this:

[code]

[2022-02-07 23:09] RussellGrayxd commented on #41
I'm not sure. In my case I'm just trying to get shapefiles for multiple countries. If there is any easier way to do this without failure then I would choose that, but if not then a little memory jab isn't going to hurt the process for me. I've got time. 
--Russell J. Gray
Wildlife Ecology & Conservation Consultant
|

0934581341 | ***@***.***://www.rjgrayecology.com/
705 alligator ranch rd. New Smy

[2022-02-07 23:18] RussellGrayxd commented on #41
For my full list of countries (including Indonesia) this fix runs the error "ERROR: The process "java.exe" not found."
--Russell J. Gray
Wildlife Ecology & Conservation Consultant
|

0934581341 | ***@***.***://www.rjgrayecology.com/
705 alligator ranch rd. New Smyrna Beach, FL, USA. 32168

 |
|
 |
|  |

    On Monday, February 7, 2022, 06:08:01 p.m. EST, Jeff Hanson ***@***.***> wrote:

Another op

[2022-02-07 23:39] jeffreyhanson commented on #41
Ah ok - thanks for trying that.

[2022-02-07 23:48] jeffreyhanson commented on #41
Could you please try running the code using the `wd-proc` branch? I've randomized the port and tried to make the code more robust for killing the processes. You can install it with:

[code]

[2022-02-09 01:46] RussellGrayxd commented on #41
Ayyy this one nailed it! Thanks for the fix!
--Russell J. Gray
Wildlife Ecology & Conservation Consultant
|

0934581341 | ***@***.***://www.rjgrayecology.com/
705 alligator ranch rd. New Smyrna Beach, FL, USA. 32168

 |
|
 |
|  |

    On Monday, February 7, 2022, 06:48:37 p.m. EST, Jeff Hanson ***@***.***> wrote:

Could you please try running the code using the wd-proc branch? I've randomized the

[2022-02-09 01:50] jeffreyhanson commented on #41
Awesome! Thanks for letting me know that fixed it - I'll merge those fixes into the main branch.

[2022-02-09 01:50] #41 closed

[2022-03-21 00:57] sahmoli opened #43 "It takes forever to eraseoverlap for global dataset."
Could the code (especially the eraseoverlap part) be parrelelled in R?

[2022-03-21 01:10] jeffreyhanson commented on #43
Hi @sahmoli,

Thanks for reaching out!

Yeah, I don't recommend trying to use erase overlaps with the global datset unless you really need it (and don't mind waiting ages for it to complete). For example, if you plan on rasterizing the protected area data after cleaning it, then you don't need to worry about erasing the overlapping parts of protected areas. Additionally, if you want a vector layer

[2022-03-21 01:28] sahmoli commented on #43
Thank you so much for the quick reply.
I am doing a global analysis using wdpa. I need to calculate the cropland area within each PA, and analyze them with different attributes of PA. So that means I need the vector layer with attributes.

I runned the code for global analysis several times. It works well in the begining, but it usually has some error after two or three weeks. It only occupied 11%

[2022-03-21 01:38] sahmoli commented on #43
Wow, super smart! Yes, I want to analyze the IUCN categories.

I will try this now, and let you know how it goes.

Thank you so much

[2022-03-21 01:44] jeffreyhanson commented on #43
Excellent - great to hear we might have a solution!

Yeah, please let me know if this doesn't work and we brainstorm some more on how to get this working?

I think I've answered all your qestions for now so, if you don't mind, could we please close this issue? I use open issues to keep track of which things on GitHub I need to respond to or focus on. Please feel free to re-open this issue, or open

[2022-03-21 01:48] sahmoli commented on #43
Sounds great.

[2022-03-21 01:49] jeffreyhanson commented on #43
Awesome - thanks!

[2022-03-21 02:01] sahmoli commented on #43
After I do the wdpa_dissolve for one type of IUCN category, I found that I lost the attribte table for each PA. The attribute table of the multipolygon after dissolving has only one row.

[2022-03-21 02:07] jeffreyhanson commented on #43
Yeah, that's what I would expect. If we dissolve an sf object, then this is spatially merging all the the data togeather (effectively the same as `sf::st_union()` by with extra stuff to help avoid geometry issues). So, we subset the global PA data to extract IUCN category `"Ia"` protected areas, and then dissolve that subset, we should a new sf object with a single row that has the spatial boundar

[2022-03-21 02:10] sahmoli commented on #43
Yeah, you are right. I will let it you know how it goes.
You could close it now. I guess the whole process needs hours.

[2022-03-21 02:11] jeffreyhanson commented on #43
Ah ok - sounds good - thanks!

[2022-03-21 05:50] sahmoli commented on #43
I realized that this method might have potential problems.  In one of the following analyses, I need the variables of the status_yr and GIS_area of the PA, which are not available following the current method.
If I want to keep multiple attributes of each PA after erase overlap of global PA dataset., are there any other solutions?,

[2022-03-21 19:33] jeffreyhanson commented on #43
Hmm, if you want to keep track of the (i) year each PA was established and (ii) IUCN category of each PA, you could split the full dataset into multiple subsets based on different combinations of `STATUS_YR` and `IUCN_CAT` and then apply the procedure we talked about previously to dissolve and then recombine the data. Since each combination of `STATUS_YR`/`IUCN_CAT` is processed seperately, it mig

[2022-03-23 00:56] sahmoli commented on #43
You are right, I do not need the GIS_AREA which could be calculated later. I plan to rasterize the layer after erase overlap.

After I filter the global PA dataset with  GIS_AREA > 1km2 and STATUS_YR between a range, there are only 85836 obs left.  It already runs for a whole day and it seems that it will finish in 2 days.

I will try the STATUS_YR/IUCN_CAT combination in parrellel in another PC,

[2022-03-23 01:36] jeffreyhanson commented on #43
No worries! Oh I see. Yeah, if you plan on rasterizing the WDPA data, then I don't think you need to worry about erasing overlaps? This is because the rasterization process (e.g. if using ArcGIS, `raster::rasterize()`, `terra::rasterize()`, `fasterize::fasterize()`) will assign values to the output raster based on whether or not the geometries overlap with raster cell (unless you want to rasterize

[2022-03-23 01:39] sahmoli commented on #43
Yes, I want to rasterize the STATUS_YR, so I need to erase overlap before rasterize. right?

[2022-03-23 01:41] jeffreyhanson commented on #43
Hmm, just to check, do you want (i) a single-layer raster where each grid cell contains a value with STATUS_YR value, or (ii) a multi-layer raster (one layer for each STATUS_YR) indicating whether a PA as established within the grid cell in that year (i.e. grid cell values contain 0s and 1s)?

[2022-03-23 01:48] sahmoli commented on #43
I just sent you an email ( ***@***.*** ), could we have
a voice chat on this?

On Wed, Mar 23, 2022 at 9:41 AM Jeff Hanson ***@***.***>
wrote:

[2022-03-23 01:58] sahmoli commented on #43
I think I want a single-layer raster where each grid cell contains a value with STATUS_YR value

[2022-03-23 03:22] jeffreyhanson commented on #43
Sorry - I've been stuck in a meeting for the last while. Yeah, I can chat tomorrow - I'll respond to your email.

[2022-03-23 03:26] jeffreyhanson commented on #43
Ah - yeah if you want a single-layer raster with grid cells containing STATUS_YR - then that makes things a lot easier. In cases where you have multiple protected areas overlapping with a single grid cell, how should this be handled? E.g., would you want the minimum value (corresponding to earliest established protected area in the grid cell) or the maximum value (corresponding to the most recentl

[2022-03-23 03:33] jeffreyhanson commented on #43
I would suggest using fasterize to rasterize the STATUS_YR values (https://www.rdocumentation.org/packages/fasterize/versions/1.0.3/topics/fasterize). If that doesn't work, then maybe try gdal_rasterize (https://www.rdocumentation.org/packages/gdalUtils/versions/2.0.3.2/topics/gdal_rasterize) (I find this works well for very large datasets).

[2022-04-13 12:56] gabyavm97 opened #44 "wdpa_fetch"
Hi! I'm having problems to run this function, this is my code:

library(wdpar)
library(prepr)
library(dplyr)
library(tibble)

## define country names to download
country_codes <- c("CRI", "NIC", "HND", "SLV","GTM", "BLZ", "MEX")
## download data for each country
mult_data <- lapply(country_codes, wdpa_fetch, wait = TRUE)

Even if I close the session and opened it again it keeps showing this error:

[2022-04-13 20:20] jeffreyhanson commented on #44
Hi @gabyavm97,

This issue can happen if you start downloading some data using `wdpa_fetch()` and then stop/restart R before it has finished. To my knowledge, the easiest way to fix this is to restart the computer. Another strategy is that you can look for a PhantomJS process running on your system (e.g. using the task manager, htop, etc) and then kill that process. The developmental version of th

[2022-04-14 14:28] gabyavm97 commented on #44
Hi Jeff! 
I re-installed the package from GitHub, and also actualize another package "rlag" and now it's solved. Thank you so much for your help. If it's not too much trouble, I would like to export the data obtained as a txt file but the output doesn't look like the table I can view (with the function view() in R), the problem is in the data of the geometry column wich appears as new rows instead

[2022-04-14 19:51] jeffreyhanson commented on #44
Hi,

No worries! Great to hear it's working now! Yeah, to export the dataset as a CSV, you could do something like this:

[code]

Does that help? Let me know if you have any further questions?

[2022-05-02 14:20] ColineBoonman commented on #10
Hi Jeffrey,

I'm still getting the error that I do not have internet connection while running wdpa_fetch(). Following curl::has_internet tells me I am off line, but pingr::is_online() says (correctly) that I am online. It would be great if you could you help me out!!

I have downloaded the package both via github and via R directly, but both versions do not seem to work. I am using a windows machi

[2022-05-03 10:52] ColineBoonman commented on #10
Thanks for your quick response. I have re-installed curl, and it still says I don't have an internet connection > curl::has_internet() [1] FALSE (while pingr gives the opposite response: > pingr::is_online() [1] TRUE).

When I load the wdpar library and run the following line: lie_raw_data <- wdpa_fetch("Liechtenstein", wait = TRUE)
I get this Error:
Error in wdpa_fetch("Liechtenstein", wait = TRU

[2022-05-07 23:29] jeffreyhanson commented on #44
@gabyavm97, I just wanted to follow up and ask if that fixed the issue?

[2022-05-07 23:30] jeffreyhanson commented on #10
@ColineBoonman, I'm so sorry - I missed the GitHub notification email for your post. I'll work on updating this now and let you know when it's ready.

[2022-05-08 01:52] jeffreyhanson commented on #10
@ColineBoonman, I've just pushed a branch with the new pingr + curl internet checks. Could you please try it out and see if that fixes it for you? You can install it with `remotes::install_github("prioritizr/wdpar@int-check")`.

[2022-05-08 18:39] gabyavm97 commented on #44
Hi Jeffrey! sorry, I forgot to respond, but yeah, it worked really well, I just made one change in the name for the output file, I changed the last "-" for a " . " before de "csv", thank you so much for all your help.

[2022-05-08 20:48] jeffreyhanson commented on #44
No worries! Glad to hear it's sorted now. Thanks for mentioning that change - I'll update the code so its correct for future reference.

[2022-05-08 20:48] #44 closed

[2022-05-13 22:48] jeffreyhanson commented on #10
@ColineBoonman, I just wanted wanted to follow up and check if those updates fixed the issue?

[2022-05-16 09:43] ColineBoonman commented on #10
I am sorry for my late response. It works now!! Thank you so much!

[2022-05-16 19:29] jeffreyhanson commented on #10
No worries - thanks for confirming that it works now! I'll merge the fix into the main branch.

[2022-05-16 19:30] #10 closed

[2022-05-16 19:31] jeffreyhanson commented on #10
Fixed by a93a5c40947d582d7ab35ccf29347524193c9d6b

[2022-05-26 23:50] jeffreyhanson commented on #43
I think we resolved this issue, so I'll close this now - but please feel free to reopen it if you have any further questions.

[2022-05-26 23:50] #43 closed

[2022-05-27 06:00] sahmoli opened #48 "I used the newest version of wdpar, still have this "side location conflict""
Error in CPL_geos_binop(st_geometry(x), st_geometry(y), op, par, pattern,  :
  Evaluation error: TopologyException: side location conflict at 678942 5359610.1668073526.

What should I do with this?

Thank you so much.

[2022-05-27 06:16] jeffreyhanson commented on #48
Hi @sahmoli,

My guess would be that there's a protected area with an invalid geometry that the code for repairing geometries is unable to fix. Could you please put togeather a small reprex to help me debug this? Also, are you processing the data for a specific country?

[2022-05-30 05:41] sahmoli commented on #48
I am processing the shapefile of the global protected area downloaded from protectedplanet.org (the May 2022 version). It has three shapefiles in total. I successfully cleaned with erase_overlaps = TRUE of one of them, but the other two shapefiles encountered this error.

[2022-05-30 05:42] sahmoli commented on #48
Maybe because the original dataset is too big, it seems like it took reprex() forever to make a reproducible example.

[2022-05-31 20:35] jeffreyhanson commented on #48
Yeah, could you please save the R object as an RDS file using `saveRDS` and send that to me? Also, one option could be to try playing around with the parameters used in `wdap_clean()` (e.g., `snap_tolerance` and `geometry_precision`). By increasing them, this will make the geporcessing more robust (but run slower).

[2022-06-13 14:26] karolazvdo opened #49 "The package not run for previous download data, and do not start a new download data"
I've been trying to run the tutorial example, but the error happens since the first step to download data for mapping the protected areas.

`mlt_raw_pa_data <- wdpa_fetch("Malta", wait = TRUE, download_dir = rappdirs::user_data_dir("wdpar"))
Error in checkError(res) :
  Undefined error in httr call. httr output: Failed to connect to localhost port 4567: Connection refused
lie_raw_data <- wdpa_fetc

[2022-06-14 03:02] jeffreyhanson commented on #49
Hi @karolazvdo,

Thank you very much for reaching out!

Could you please confirm if you are using the CRAN version or GitHub version of the package? Because CRAN policies forbid frequent updates, the GitHub version of the package might have some updates that fix this issue. So, if you're using the CRAN version, could you please try the GitHub version (see [here for instructions](https://prioritizr

[2022-06-14 17:47] karolazvdo commented on #49
Hi Jeff,
Indeed, I have imported the shapefile previously downloaded from the
website, as a SpatialPolygonsDataFrame(). Therefore, I had to map my
results by other means. I have found your package recently, and I really
like it. But the other path to import and work with it, I do not have
succeeded. I'll leave here the output from sessionInfo() as requested. I
had installed the package from the Gi

[2022-06-14 20:31] jeffreyhanson commented on #49
Ah ok - yeah, thanks for trying the GitHub version. I sometimes encountered this error in earlier versions of the package if I accidently closed R while it was downloading the data - and the only way to fix that was restarting the computer. Did the `wdpa_read()` function work?

[2022-07-04 08:54] rsbivand opened #50 "GEOS version sensitivity"
[00check.log](https://github.com/prioritizr/wdpar/files/9037906/00check.log)
[testthat.Rout.fail.log](https://github.com/prioritizr/wdpar/files/9037910/testthat.Rout.fail.log)

for GEOS 3.11.0 show a failure probably because of fixes in GEOS to the NG topology engine re-ordering the coordinates of the polygon returned by `sf::st_union(x))`:
[code]
Please adapt equality test - perhaps drop or compa

[2022-07-04 20:20] jeffreyhanson commented on #50
Hi @rsbivand,

Thank you very much for letting me know. I'll try and fix this as soon as I can. Just so that I'm aware of the timelines, how soon does the fix for wdpar need to be on CRAN?

[2022-07-04 20:21] jeffreyhanson commented on #49
@karolazvdo, I just wanted to follow up and ask if that solved the issue?

[2022-07-04 20:22] jeffreyhanson commented on #48
I think we managed to solve this over email, so I'll close this now. Please feel free to re-open if needed?

[2022-07-04 20:22] #48 closed

[2022-07-04 21:01] rsbivand commented on #50
Thanks! Timing unpredictable, GEOS 3.11.0 was just released, and CRAN waits for Debian and Fedora packages, so it depends on the upstream package maintainers' urgency or not. I have 3.11.0 installed, so please ping me when you have a fix that needs trying.

[2022-07-04 23:00] karolazvdo commented on #49
Hi,
actually, once I already had the shapefiles downloaded from the website, I
used the sf package to work with them. Even trying the github version or
restarting the session, the functions from the wdpar package, like
wdpa_read() or wdpa_fetch() unfortunately did not work.

Thanks for the concern.

Em seg., 4 de jul. de 2022 às 17:21, Jeff Hanson ***@***.***>
escreveu:

--
Karoline Azevedo, M.Sc.

[2022-07-05 00:54] jeffreyhanson commented on #49
Ah ok - sorry I'm sorry we couldn't get it working on your computer. Is there anything else I can help with? If not, I'll close this issue.

[2022-07-05 00:56] jeffreyhanson commented on #50
Ok - yeah, that would be extremely helpful, I'll let you know when I've got a (potential) fix ready - thanks!

[2022-07-05 05:15] jeffreyhanson commented on #50
@rsbivand, I've just pushed a fix to the `fix-geos` branch. When you get a chance, could you please try it out and see if that fixes it? I've updated the test to use `st_equals()` which returns `TRUE` when comparing the coordinates you posted earlier?

[2022-07-05 07:51] rsbivand commented on #50
Logs for `_SP_EVOLUTION_STATUS=2 _R_CHECK_FORCE_SUGGESTS_=FALSE R CMD check wdpar_1.3.2.4.tar.gz` and `_SP_EVOLUTION_STATUS_=2 R CMD build --no-build-vignettes wdpar-fix-geos`:

[00check.log](https://github.com/prioritizr/wdpar/files/9044347/00check.log)

[testthat.Rout.log](https://github.com/prioritizr/wdpar/files/9044346/testthat.Rout.log)

Looks OK! When the evolution process has moved a bit m

[2022-07-06 21:45] edzer opened #51 "upcoming sf breaks wdpar"
Hi Jeffrey, this happens here:
[code]

It seems the polygon is identical, but ordered differently; this may be caused by an update in GEOS. You could use `st_equals()` as an alternative to check for geometrical equality.

[2022-07-07 05:34] jeffreyhanson commented on #51
Hi @edzer,

Thank you very much for bringing this to my attention! I'll work on submitting an update to CRAN to address this. Just so that I'm aware of the timelines, when were you planning on submitting the sf update to CRAN?

[2022-07-07 05:38] jeffreyhanson commented on #50
Awesome! Thank you for checking that. I'll try and submit an update to CRAN sometime today or tomorrow.

[2022-07-07 05:59] jeffreyhanson commented on #51
Sorry, I just wanted to ask if this issue is a possible duplicate of #50? I installed the latest version of sf from the GitHub repo, and the test passes on my computer (see below for spatial and session info). So my guess would be that this issue is related to an update to the GEOS library? In #50, the fix involves using `st_equals()` like you suggest. Sorry if I'm missing something obvious.

[cod

[2022-07-07 06:28] edzer commented on #51
Yes, that should fix it! Timeline: I'm in the submission process, so if things run smooth a couple of days.

[2022-07-07 07:18] jeffreyhanson commented on #51
Ok great - I'll submit the updated version of wdpar to CRAN tomorrow.

[2022-07-07 23:34] #49 closed

[2022-07-08 00:04] #50 closed

[2022-07-08 00:04] #51 closed

[2022-07-08 23:58] jeffreyhanson commented on #50
Just to let you know, I submitted the update yesterday and received notification that it's on it's way to CRAN.

[2022-07-08 23:58] jeffreyhanson commented on #51
Just to let you know, I submitted the update yesterday and received notification that it's on it's way to CRAN.

[2022-07-09 09:45] edzer commented on #51
Thanks!

[2022-07-23 09:17] Jo-Schie opened #53 "JOSS Review: Improve documentation on geo-processing steps and its effects on the original geometries"
Hi @jeffreyhanson .

I think it could be helpful for users to extend a little the documentation on the internal geo-processing steps and what they actually do to the data (geometries). This should be part of the vignette, but also of the paper (which so far very much focuses very much on describing the need, but not the internals of the package).

From my first test, there are a few things that sh

[2022-07-23 12:12] Jo-Schie opened #54 "JOSS Review: Improve Statement of need / description of use-cases"
It seems to me, that the statement of need in the paper and/or the introduction part in the documentation could be a little clearer.

My understanding is this: The `wdpar` package can help users of the `wdpa` and `wdoecm` to work more effectively with the data, in a broad sense by allowing user automated download and preprocessing according to scientific recommendations. You talk a lot about "data

[2022-07-25 21:27] jeffreyhanson commented on #53
Thank you very much for these suggestions @Jo-Schie! I'll have a think about this and begin incorperating your feedback later this week.

[2022-07-25 21:29] jeffreyhanson commented on #54
Yeah - this an excellent point - thank you! I'll update the manuscript to incorperate your suggestion.

[2022-08-08 15:44] jeffreyhanson commented on #53
Sorry, I've been swamped and am only getting to this today.

[2022-08-08 15:45] jeffreyhanson commented on #54
@Jo-Schie, I've submitted a PR which aims to incorperate your feedback. When you get a chance, could you please take a look (see #54)?

[2022-08-08 18:58] jeffreyhanson commented on #54
@Jo-Schie, I've submitted a PR which aims to incorperate feedback on both your issues (see #57). Specifically, this PR adds the following paragraph to address your comments. This paragraph makes it clear that the package has defaults which are designed specifically for national-scale protected area coverage assesments, and that these defaults can be customized (if desired) for other purposes. Than

[2022-08-08 19:15] jeffreyhanson commented on #53
Thanks again for providing all these suggestions @Jo-schie! I've created a PR with all the changes to incorporate your feedback (see #57). To help make it clear exactly how I've addressed each of your points, I've responded to each of them below (separately) and copied in the updated text from the PR. Since JOSS policies favor shorter publications [1], I've tried to address several of the comments

[2022-08-09 07:59] Jo-Schie commented on #53
Hi @jeffreyhanson : Thanks for the edits.

Some quick remarks:
**as to6)**
you sate that _"Specifically, overlapping geometries are erased such that areas associated with more effective management categories or have historical precedence are retained."_

-> What if  there is an overlap of "old area/soft protection" with "new area/strong protection"? Is there some decision tree? If so it would be u

[2022-08-10 16:21] jeffreyhanson commented on #53
@Jo-Schie - thanks for getting back to me so quickly, I really appreciate it!

I'll respond to each of your follow up comments below (seperately).

* > What if there is an overlap of "old area/soft protection" with "new area/strong protection"? Is there some decision tree? If so it would be useful to illustrate it or link to the relevant literature that suggests the decision hierarchy at this spec

[2022-08-23 19:21] jeffreyhanson commented on #54
@Jo-Schie, I just wanted to follow up and ask if the PR address your concerns?

[2022-08-23 19:22] jeffreyhanson commented on #53
@Jo-Schie, I just wanted to follow up and ask if the PR address your concerns on this issue?

[2022-08-31 19:02] Jo-Schie commented on #53
Hi @jeffreyhanson . I did not really realize that you'd already worked on this. I put it on my todo list and will come back asap.

[2022-08-31 19:24] jeffreyhanson commented on #53
No worries - thanks! Please let me know if anything's not clear and I'll get back to you as soon as I can.

[2022-09-05 10:54] DrMattG opened #58 "JOSS Review - Add links to references cited in README"
It would be nice if you can add a link to the papers cited in the README.

"...also provides methods for cleaning data from these databases following best practices (outlined in Butchart et al. 2015 ; [Protected Planet 2021](https://www.protectedplanet.net/en/resources/calculating-protected-area-coverage); Runge et al. 2015)."

[2022-09-05 11:11] DrMattG opened #59 "JOSS Review warning about out of date local data"
Warning message:
In wdpa_fetch("Norway", wait = TRUE, download_dir = rappdirs::user_data_dir("wdpar")) :
  local data is out of date: jul 2022
(https://github.com/prioritizr/wdpar/blob/40e8e79501b7caf16f684ec0f386a6299b241d07/R/wdpa_fetch.R#L183)
What does it mean if the local data is out of date? Do I need to worry about this warning? It would be good to have some comment on this in the documenta

[2022-09-05 12:48] jeffreyhanson commented on #59
The package will by default load the latest version of the database that is available on your computer (e.g., because you previously downloaded the data). This warning message is telling you that this version is now out of date, and a newer version is available on online. I guess you would need to worry about this warning if you are running analyses that require the latest version, but generally t

[2022-09-05 12:49] jeffreyhanson commented on #58
Sure - can do!

[2022-09-12 12:50] jeffreyhanson commented on #53
@Jo-Schie, I just wanted to follow up and ask if you'd a chance to go through the PR?

[2022-09-19 12:45] jeffreyhanson commented on #59
Sorry for the slow progress on this @DrMattG. Just to keep you in the loop, I'm planning on creating a PR to incorperate this feedback - once I've merged the PR to address the issues raised by @Jo-Schie. Since I'm really bad at dealing with merge conflicts, I'd rather not create multiple branches at the same time and then have to juggle conflicts when merging them. Did you have any other issues/co

[2022-09-19 12:48] jeffreyhanson commented on #53
@Jo-Schie, it's been over a month since I originally created the PR to address your feedback, is there anything I can do to help make it easier for you to review it?

[2022-09-20 14:52] jeffreyhanson commented on #59
Ok awesome - thank you!

[2022-09-21 17:49] Jo-Schie commented on #53
hi @jeffreyhanson. Documentation looks very good to me and I fully understand that you do not want to add the mapview package if it creates a dependency for the package. Also it makes sense to have the processing steps in the function documentation and I think you do explain it in a great level of detail. Sorry for the delays. Happy to close the issue now.

[2022-09-21 17:49] #53 closed

[2022-09-21 17:56] jeffreyhanson commented on #54
@Jo-Schie, if you get a moment, could you please check whether the PR addresses this issue too?

[2022-09-21 17:59] Jo-Schie commented on #54
yep. I am on it. Is there any link to the new manuscript of the paper? I can only find the old one.

[2022-09-21 18:00] jeffreyhanson commented on #54
Brillian - thank you! Yeah, here's the .Rmd file (https://github.com/prioritizr/wdpar/blob/joschie-review/paper/paper.Rmd) and the PDF version (https://github.com/prioritizr/wdpar/blob/joschie-review/paper/paper.pdf).

[2022-09-21 18:10] Jo-Schie commented on #54
okay. thanks. One question. I do have the feeling that the manuscript is very short, and you do neither show a little snippet of the code of the package nor do you show any output of an example application. I have checked a couple of paper in JOSS who all do that see e.g. [here](https://joss.theoj.org/papers/10.21105/joss.04740), [here](https://joss.theoj.org/papers/10.21105/joss.04015) or [here](

[2022-09-21 18:26] Jo-Schie opened #61 "JOSS Review: Add small POC about Performance claims"
JOSS [Review criteria from the thread](https://github.com/openjournals/joss-reviews/issues/4594) ask to assess whether there are any performance claims of the package that can be assessed. In your quick-start vignette, you state that:

_"The wdpar R package can be used to clean large datasets assuming that sufficient computational resources and time are available. Indeed, it can clean data spannin

[2022-09-21 18:32] jeffreyhanson commented on #54
Awesome - thank you very much! Yeah, I wasn't sure if papers were supposed to include coding examples or not. Yeah, I can put in a small demo and include a figure.

[2022-09-21 18:40] Jo-Schie opened #62 "JOSS Review: Add statement about state of the field"
Last issue from my side. [JOSS Review criteria ask i](https://github.com/openjournals/joss-reviews/issues/4594)f the author describes the _"State of the field: Do the authors describe how this software compares to other commonly-used packages?"_

I guess that the `wdpar` package is pretty unique in the sense that there is no other R (or Python) package AFAIK that do exactly the same or something v

[2022-09-21 20:24] jeffreyhanson commented on #61
I've just done a run of the global database using the example R script distributed with the package (see https://github.com/prioritizr/wdpar/blob/master/inst/scripts/global-example-script.R). I've copied in the log file below and included the session information too. Since this was run on a server with 60 GB RAM, it's relatively fast because all the processing can be done in RAM without resorting

[2022-09-21 20:48] Jo-Schie commented on #61
Sorry. Maybe I oversaw it...but how many Polygons did you process? This was not the global WDPA right?

[2022-09-21 20:53] Jo-Schie commented on #61
Ah okay. Got it. It is the global data but without unionizing. Hummm. I thought your section on big data and processing overnight was also referring to unionizing ie ereasing overlaps. **Did you ever do that for the global data?**

 If so, could there be a method for more or less benchmarking it? I know it gets more complex now...

[2022-09-21 20:59] jeffreyhanson commented on #61
Yeah that's right. The resulting dataset contains 272,466 protected areas. Yeah, I have tried running the global data with `erase_overlaps = TRUE` and it doesn't work - the geometry processing dies due to (extremely) invalid geometries and I couldn't find a work around. To address this, the package documentation recommends using `erase_overlaps = FALSE` for large datasets (eg., https://prioritizr.

[2022-09-21 21:54] jeffreyhanson commented on #62
Yeah, there are a few software packages that have been developed to help work with Protected Planet data. So, I've added a new paragraph to the manuscript with a brief overview of them (copied in below, and [see here for PDF](https://github.com/prioritizr/wdpar/blob/joschie-review/paper/paper.pdf)). Although DOPA have published paper documenting their methods for working with Protected Planet data

[2022-09-22 07:16] Jo-Schie commented on #62
Looks fine to me.

[2022-09-22 07:16] #62 closed

[2022-09-22 11:53] jeffreyhanson commented on #62
Brilliant - thank you!

[2022-09-23 18:53] jeffreyhanson commented on #54
Just to keep you in the loop, the PhantomJS web driver used by Rselenium no longer works - so the downloading functionality of the package is now broken. So I need to do some updating to wdpar so that it works again. So, I'm going to merge the PR that I've been working on with the changes to adress your feedback so I don't get into merge conflict hell. This will mean that some of your issues will

[2022-09-23 19:01] jeffreyhanson opened #63 "wdpa_fetch() no longer works"
The PhantomJS web driver is no longer supported by the RSelenium package, and so this function no longers works. I need to find another package to replace the Rselenium dependency.

[2022-09-23 19:09] jeffreyhanson commented on #54
Actually, it turns out the fix is very straightforward (replacing Rselenium with webdriver), so I'll just lump the fix into the PR.

[2022-09-23 20:23] Jo-Schie commented on #61
Seems fine to me. Thanks for the proof.

[2022-09-23 20:23] #61 closed

[2022-09-24 13:45] jeffreyhanson commented on #61
Brilliant - thanks!

[2022-09-27 23:14] jeffreyhanson commented on #54
@Jo-Schie, I've just pushed a commit to PR #57 so that the manuscript now contains a short case study and a map showing some protected areas. When you get a chance, could you please take a look? This PR also contains updates to address the web driver data download issues too. To help make it easier to review, I've attached the PDF for the updated manuscript to here: [paper.pdf](https://github.com/

[2022-09-28 06:21] Jo-Schie commented on #54
I guess you could also Show also some Areal statistics eg sqkm in each iucn category to show the purpose of cleaning the dataset... but that's up to you. @jeffreyhanson  i will close This issue so you can merge your changes.

[2022-09-28 06:21] #54 closed

[2022-09-28 11:53] jeffreyhanson commented on #54
Thanks! Yeah, I wanted to keep the case study simple. Although I like the idea of providing aerial statistics, I worry that this is difficult to do without adding too much extra code that would require explanation (e.g., calculating aerial statistics would probably be best done using dplyr + sf). I suppose there are base package alternatives (e.g., using base::aggregate), but I wouldn't want to re

[2022-09-28 11:55] jeffreyhanson commented on #54
Thanks so much @Jo-Schie for your amazing review! I really appreciate the time you've taken to provide such thorough and constructive feedback!

[2022-09-28 16:50] jeffreyhanson commented on #59
@DrMattG, I've just created a PR to address this issue. When you get a chance, could you please take a look? I've put the changes specifically related to this issue in this commit: https://github.com/prioritizr/wdpar/pull/64/commits/c83514c2fe4ef1bcc325549270f52975c07f4500.

[2022-09-28 16:50] jeffreyhanson commented on #58
@DrMattG, I've just created a PR to address this issue. When you get a chance, could you please take a look? I've put the changes specifically related to this issue in this commit: https://github.com/prioritizr/wdpar/pull/64/commits/6507973fdba41061c9e16496fe4f9a7be37cb9db

[2022-09-29 13:29] DrMattG commented on #58
Looks good!

[2022-10-03 14:57] jeffreyhanson commented on #59
Woops, forgot tag this issue in the commit when merging this PR, so I'll close this manually.

[2022-10-03 14:57] #59 closed

[2022-10-14 09:38] fBedecarrats commented on #63
Hi, I see that this has already been identified by @Jo-Schie, but I'm affraid that the solution doesn't work on linux:
[code]
Which returns the following error:
![Screenshot from 2022-10-14 11-37-12](https://user-images.githubusercontent.com/3328347/195815140-ce2b131d-a705-45de-8bc0-4a46eb12c02d.png)

It is running on Ubuntu 20.04, with R 4.2.1

[2022-10-14 19:55] jeffreyhanson commented on #63
Thank you very much Hmm, the `webdriver::r

[2022-10-15 16:15] fBedecarrats commented on #63
I just tried and it worked indeed!  I agree that a message to the user would be useful to help solve this error. Thanks a lot.

[2022-10-15 19:46] jeffreyhanson commented on #63
Ok excellent - thanks! Yeah, I'll update the error message.

[2022-10-15 21:31] #63 closed